<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
</head>
<body>
    <h1> Login page</h1>
    <form action="/user/login" method="post">
        <label>Email</label>
        <input type="text" required name="email"/>
        <label>Password</label>
        <input type="text" required name="password"/>

        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>